/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    
  position: relative;
  min-height:100%

}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;

}



.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.left-sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100%;
    height: calc(100% - 60px);
    max-height: calc(100% - 60px);
    border-right: 1px solid #e5e5e5;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.09);
    overflow-y: scroll;
}

.left-sidebar ul {
    padding: 0;
}

.left-sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}



.left-sidebar::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.left-sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

#main {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    min-height: calc(100vh - 117px);
}

#nav-creator {
    padding-bottom: 1.1rem;
}

.nav-item .active {
    background-image: linear-gradient(to right,rgba(153,255,153,0.2),rgba(102,127,255,0.2));
}
.navbar-nav .nav-item .active {
    background-image: linear-gradient(to bottom,rgba( 255, 103,0,0.3),rgba(255, 255, 255,0.2));
}


#send-form-btn {
    position: absolute;
    right: 1.5rem;
    bottom: 5rem;
}

.btn{
    border-radius:0 !important
}

/*iziToast customization*/

.iziToast-theme-normalToast {
    background: linear-gradient(to right, #6dd5ed,#2193b0) !important
}


/*Message Page*/
#msg-preview{
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.2) inset;
}

#msg-preview {
    background-color: rgba(65, 65, 65, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
#msg-preview >div{
    width: 50%;
}
.msg-container {
    /*position: relative;
    display: block;
    margin: auto !important;
    top: 25%;
    border-radius: 10px;*/
    

    box-shadow: 0 0 10px 1px rgba(0,0,0,0.3)
}
.msg-container>div{
     
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    background-color: white;
}
    .card-horizontal .img-square-wrapper img{
       height:100%;
    }
    .card-text {
        white-space: pre-wrap;
    }

#msg-legend{
    margin-top: -61px;
    width: fit-content;
}

#link-title{
    text-decoration:underline;
    color: blue;
    cursor:pointer

}


/*SSD(Smart Soft Deveices)*/

.isOnline{
    color: green;
}

.isOffline{
    color: lightgray;
}
