@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div class="left-sidebar col-4">
    <ul class="pt-2 pl-0" style="list-style-type:none">
        <li>
            <div class="d-flex justify-content-between">
                <i class="fi-xtluxl-computer-desktop-thin"></i> 
                <button class="btn" id="reload-resolvers">
                    <i class="fi-xwsuxl-reload"></i>
                </button>
            </div>
            <div id="resolvers"></div>
        </li>
        <li>
            <i class="fi-htluhl-link-thin"></i>
            <div id="Nuclei"></div>
        </li>
    </ul>
</div>