
@{
    ViewData["Title"] = "Message";
}

@section Scripts{
    <script src="~/js/messagePageHandler.js"></script>
}


<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Message Creator</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Viewer</a>
    </li>
</ul>

<div class="p-2" id="msg-bg" style="height: calc(100% - 42px)">

    <div class="tab-content h-100" id="myTabContent">
        <div class="tab-pane fade h-100 show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row h-100">
                <div class="col-md-6 border-right h-100" id="msg-config">
                    <div class="form-group">
                        <label>
                            @*<i class="fi-xtllxl-spreadsheet-thin"></i>*@
                            <span class="msg-format-icon"></span>
                            Message Format
                        </label>
                        <select class=" form-control " id="msg-format" name="msgstyle">
                            <option value="1">
                                With Full Length Image
                            </option>
                            <option value="2">
                                With Side Image
                            </option>
                            <option value="3">
                                With No Image
                            </option>
                        </select>
                    </div>
                    <div class="p-2">
                        <hr />
                    </div>
                    
                    <div class="border rounded p-lg-5 bg-light">
                        <div class="form-group">
                            <lable><i class="fi-xtluxl-file-thin"></i> Message Image</lable>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>

                        </div>
                        <div class="form-group">
                            <label> <i class="fi-xtluxl-label-thin"></i> Message Title</label>
                            <input type="text" value="" placeholder="Message Title" class="form-control" name="msgTitle" id="msg-title" />
                        </div>
                        <div class="form-group">
                            <label> <i class="fi-stluxl-three-bars-thin"></i> Message Body</label>
                            <textarea class="form-control" id="msg-body" name="msgBody"></textarea>
                        </div>
                        <div class=" form-group">
                            <div class="mb-3">
                                <label>Link Title</label>
                                <input type="text" name="linkTitle" class="form-control" id="msg-link-title"/>
                            </div>
                            <div >
                                <div class="d-flex">
                                    <label>Link Type:</label>
                                    <span class="ml-2">
                                        <select name="msgLinkSelect" id="msgLinkSelect" class="form-control form-control-sm">
                                            <option value="0">Form</option>
                                            <option value="1">Link</option>
                                        </select>
                                    </span>
                                </div>
                                
                            </div>
                            <div id="selectedLinkType">
                                
                            </div>
                        </div>
                        <div>
                            <label><i class="fi-xtluxl-calendar-thin"></i>Message Expiry Date</label>
                            <input type="datetime-local" value="" name="msgExpiry" class="form-control" id="msg-expiry" />
                        </div>
                        <div class="p-3 ">
                            <button class="btn btn-primary pull-right" id="save-msg">Save Massege</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 border h-100" id="msg-preview" >
                    <div class="msg-container">
                        <div class="card" id="card" >
                            <div class="img-square-wrapper" id="msg-image-view">
                                <img class="card-img-top"  src="https://via.placeholder.com/250x100.png?text=250x100+image+size" alt="Message Image">
                            </div>
                            
                            <div class="card-body" id="card-body">
                                <h4 class="card-title" id="card-title">Message Title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="card-footer">
                                    <small id="link-title">link title</small>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    </div>
</div>


